https://github.com/chapmanb/python-graph/releases/download/1.8.2/python-graph-core-1.8.2.tar.gz
https://github.com/chapmanb/python-graph/releases/download/1.8.2/python-graph-dot-1.8.2.tar.gz
git+https://github.com/nlhepler/pydot.git#egg=pydot
-e .
